/* 🤚🏽 set up background */
body {
    background: url("https://wallpaperaccess.com/full/2825711.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    background-color: rgba(31, 30, 30, 0.454);
}

h2 {
    color: white;
    background-color: rgba(40, 195, 55, 0.454);
}

table {
    background-color: antiquewhite;
}

th {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

td {
    font-size: 18px;
    font-weight: 200;
}