body {
    background: url("https://wallpaperaccess.com/full/2825711.gif"); /* Chèn background */
    background-size: cover; /* Chỉnh background rộng toàn màn hình thiết bị */
    background-repeat: no-repeat; /* Kiểm soát background không bị phân ảnh ra quá nhiều để bao phủ hết website, chỉ xảy ra nếu kích thước ảnh nhỏ */
    width: 100%; /* Chỉnh chiều ngang background auto rộng đúng kích thước màn hình của thiết bị */
    height: 100vh; /* Chỉnh chiều dọc background dài nhất đối với thiết bị */
    overflow: hidden; /* Làm mất đi thanh trượt dọc và ngang của website*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Chỉnh font chữ cho toàn bộ webstie*/
}

h1 {
    color: white;
    background-color: rgba(31, 30, 30, 0.454);
}

h2 {
    color: white;
    background-color: rgba(40, 195, 55, 0.454);
}

table {
    background-color: antiquewhite;
}

th {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

td {
    font-size: 18px;
    font-weight: 200;
}